html {
    font-family: "-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif";
}

.sectionLinks {
    font-size: 1.25rem;
    color: #f05623;
    text-decoration: none;
}

.sectionLinks h3 {
    font-Size: 1.25rem; 
    color: #f05623; 
    margin-bottom: 0; 
    font-weight: normal;
}

.sectionLinks p {
    font-size: .75rem; 
    font-style: italic;
    color: black; 
}

.sectionLinks img {
    margin-bottom: 0;
}

.sectionHeader h2 {
    color: black; 
    font-weight: normal; 
    font-size: 2rem;
}

.sectionHeader ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

.sectionHeader li p {    
    font-size: .75rem;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia div {
    height: 38px;
    width: 38px;    
    margin: 0 .5rem;
    display: inline-block;
}

.socialMedia div a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border-width: 0px;
    background-color: #6b6d6f;
    color: black;
}

.socialMedia div a svg {
    height: 1.25em;
    width: 1.25em;
    
}

.socialMedia .fb {
    background-color: #6b6d6f;
}

.socialMedia .fb svg {
    height: 1.65em;
    width: 1.65em;
    margin-top:.5em;
    margin-left:.15em;
    border-radius: 0 0 17px 0px 
}

.socialMedia .fb:hover {
    color: white;
    background-color: #1877f2;
}

.socialMedia .twitter svg {
    margin-left: 0.05em;
}

.socialMedia .twitter:hover {
    color: white;
    background-color: #1da1f2;
}

.socialMedia .gh svg {
    height: 1.5em;
    width: 1.5em;
}

.socialMedia .gh:hover {
    color: black;
    background-color: white;
}

.socialMedia .twitch svg {
    margin-top: .1em;
    margin-left:.1em;
}

.socialMedia .twitch:hover {
    color: white;
    background-color: #6441a4;
}

.socialMedia .discord svg {
    margin-top:.15em;
}

.socialMedia .discord:hover {
    color: white;
    background-color: #7289da;
}

.socialMedia .linkedin:hover {
    color: white;
    background-color: #0077b5;
}

.socialMedia .yt:hover {
    color: white;
    background-color: #e52d27;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}

.hideMe {
    display: none;
}

.blog-list-container {
    padding: 1rem 0;
}

.blog-list {
    list-style-type: none;
}

@media only screen and (max-width: 1024px) {   

    .socialMedia .fb {
        color: white;
        background-color: #1778f2;
    }

    .socialMedia .twitter {
        color: white;
        background-color: #1da1f2;
    }

    .socialMedia .gh {
        color: black;
        background-color: white;
    }

    .socialMedia .twitch {
        color: white;
        background-color: #6441a4;
    }

    .socialMedia .discord {
        color: white;
        background-color: #7289da;
    }

    .socialMedia .linkedin {
        color: white;
        background-color: #0077b5;
    }

    .socialMedia .yt {
        color: white;
        background-color: #e52d27;
    }
  }